:host {
    flex-grow: 1;
}

:host-context(.core-iframe-fullscreen) {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

iframe {
    width: 100% !important;
}

.iframetop {
    z-index: 20;
    position: absolute;
    top: 45px;
    height: calc(100vh - 5%) !important;
}

:host-context(.limited-width > :not([slot])) {
    display: flex;
    flex-direction: column;
}
